# 문자열 메소드 활용하기

## 변형

### `.capitalize()`, `title()`, `.upper()`

`.capitalize()` : 앞글자를 대문자로 만들어 반환합니다.

`.title()` : 어포스트로피나 공백 이후를 대문자로 만들어 반환합니다.

`.upper()` : 모두 대문자로 만들어 반환합니다.

In [6]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.

dir('')

"Hi! Everyone, I'M Kim"

### `lower()`, `swapcase()`

`lower()` : 모두 소문자로 만들어 반환합니다.

`swapcase()` : 대 ↔ 소문자로 변경하여 반환합니다.

In [7]:
a = "hI! Everyone, I'm kim"
# 아래에 코드를 작성하세요.
a.swapcase()

"Hi! eVERYONE, i'M KIM"

### `.join(iterable)`

**Iterable 을 해당 문자열을 separator 로 합쳐서 문자열로 반환합니다.**

In [31]:
# 아래에 코드를 작성하세요.
'8 3 5 2 10'.split(' ')
'010-2222-3054'.split('-')
a = "This is Awesome".split(' ')
# a.split(' ')
' '.join(a)

'This is Awesome'

### `.replace(old, new[, count])`

바꿀 대상 글자를 새로운 글자로 바꿔서 반환합니다. 

count를 지정하면 해당 갯수만큼만 시행합니다.

In [179]:
# 아래에 코드를 작성하세요.
b = "This is Awesome"
c = b.replace('is', 'IS')
print(c)

TypeError: replace() argument 2 must be str, not list

### 글씨 제거 (`strip([chars])`)

특정한 문자들을 지정하면,  양쪽을 제거하거나 왼쪽을 제거하거나(lstrip) 오른쪽을 제거합니다(rstrip)

지정하지 않으면 공백을 제거합니다.

In [30]:
# 아래에 코드를 작성하세요.
c = 'This is strip. \n'
print(c.strip())

This is strip.

## 탐색 및 검증

### `.find(x)` : x의 첫 번째 위치를 반환합니다. 없으면, -1을 반환합니다.

In [35]:
# 아래에 코드를 작성하세요.
'ssafy'.find('s')
# 중첩단어 중에서는 첫번째 단어를 찾는다.

0

### `.index(x)` : x의 첫번째 위치를 반환합니다. 없으면, 오류가 발생합니다.

In [39]:
# 아래에 코드를 작성하세요.
'ssafy'.index('y')

4

## `split()`

문자열을 특정한 단위로 나누어 리스트로 반환합니다.

In [40]:
# 아래에 코드를 작성하세요.
'This is SSafy'.split(' ')

['This', 'is', 'SSafy']

## 다양한 확인 메소드 : 참/거짓 반환
```
.isalpha(), .isdecimal(), .isdigit(), .isnumeric(), .isspace(), .isupper(), .istitle(), .islower()
```

```python
dir('string')
```

In [47]:
'Greet'.istitle()

True

# 리스트 메소드 활용하기

## 값 추가 및 삭제

### `.append(x)`

리스트에 값을 추가할 수 있습니다.

In [55]:
# 카페 리스트를 만들어봅시다.
caffe = ['starbucks', 'tomntoms', 'hollys']
print(caffe)

['starbucks', 'tomntoms', 'hollys']

In [57]:
# 값을 추가해봅시다.
caffe.append('W cafe')
caffe

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'W cafe']

In [61]:
# 어렵게 넣어보도록 해봅시다.
# caffe[len(caffe):] = ['ediya']
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'W cafe', 'coffebean', 'ediya']

### `.extend(iterable)`

리스트에 **iterable(list, range, tuple, string!유의! ) 값**을 붙일 수가 있습니다.

In [58]:
# 앞서 만든 리스트에 추가해봅시다.
caffe.extend(['coffebean'])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'W cafe', 'coffebean']

In [62]:
# 앞서 배운 list concatenate와 동일합니다.
caffe += ['빽다방']
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'W cafe', 'coffebean', 'ediya', '빽다방']

In [65]:
# append와 비교해봅시다.
caffe.append('')
caffe.extend([''])
print(caffe)

['starbucks', 'tomntoms', 'hollys', 'bana presso', 'W cafe', 'coffebean', 'ediya', '빽다방', '', '', '', '', '']

### `insert(i, x)`

정해진 위치 `i`에 값을 추가합니다.

In [66]:
# 앞서 만든 리스트의 가장 앞에 'hi'를 넣어봅시다.
caffe.insert(0,'hi')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'W cafe', 'coffebean', 'ediya', '빽다방', '', '', '', '', '']

In [69]:
# 앞서 만든 리스트의 가장 뒤에 'bye'를 넣어봅시다
caffe.insert(len(caffe),'bye')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'W cafe', 'coffebean', 'ediya', '빽다방', '', '', '', '', 'bye', '', 'bye']

In [71]:
# 길이를 넘어서는 인덱스는 무조건 마지막에 하나만 붙습니다.
caffe.insert(len(caffe)+100000, 'goodbye')
print(caffe)

['hi', 'starbucks', 'tomntoms', 'hollys', 'bana presso', 'W cafe', 'coffebean', 'ediya', '빽다방', '', '', '', '', 'bye', '', 'bye', 'goodbye', 'goodbye']

In [79]:
caffe.pop()
caffe

['hi',
 'starbucks',
 'tomntoms',
 'hollys',
 'bana presso',
 'W cafe',
 'coffebean',
 'ediya',
 '빽다방',
 'bye']

### `remove(x)`

리스트에서 값이 x인 것을 삭제합니다.

In [ ]:
# remove를 사용해봅시다.
numbers = [1, 2, 3, 1, 2]
print(numbers)

In [ ]:
# 중복된 값 1을 삭제 해봅시다.
numbers.remove(1)

In [ ]:
# 한번 더 삭제해봅시다.
numbers.remove(1)

In [ ]:
# remove는 값이 없으면 오류가 발생합니다. 확인해봅시다.
numbers.remove(1)

### `.pop(i)`

정해진 위치 `i`에 있는 값을 삭제하며, 그 항목을 반환합니다.

`i`가 지정되지 않으면 마지막 항목을 삭제하고 되돌려줍니다.

In [80]:
# pop을 사용해봅시다.
numbers = [1, 2, 3, 4, 5, 6]
numbers.pop()

6

In [81]:
numbers

[1, 2, 3, 4, 5]

In [82]:
# 가장 앞에 있는 것을 삭제해봅시다. return도 확인해보세요.
numbers.pop(0)

[2, 3, 4, 5]

In [83]:
# 값이 return이 된다는 것은 별도의 변수에 저장할 수 있다는 것입니다. 
num = numbers.pop(0)
print(num)

2

In [84]:
numbers

[3, 4, 5]

## 탐색 및 정렬

### `.index(x)`

x 값을 찾아 해당 index 값을 반환합니다.

In [85]:
# index를 사용해봅시다.
numbers = [1, 2, 3, 4, 5]
print(numbers.index(3))

2

In [86]:
# index는 없을 시 오류가 발생합니다. 확인해봅시다. 
# 앞서 remove 역시도 같은 에러가 발생하였습니다. (ValueError)
numbers.index(8)

ValueError: 8 is not in list

### `.count(x)`

원하는 값의 갯수를 확인할 수 있습니다.

In [87]:
# count를 사용해봅시다.
numbers = [1, 2, 5, 1, 5, 1]
numbers.count(1)

3

In [96]:
# 따라서 원하는 값을 모두 삭제하려면 다음과 같이 할 수 있습니다.
n = int(input())
# for i in range(numbers.count(n)):
#     numbers.remove(n)
# print(numbers)

numbers = [1,2,5,1,5,1]

def delete_all(li, n):
    li.count(n)
    for i in range(li.count(n)):
        li.remove(n)

delete_all(numbers, 1)
print(numbers)

3
[2, 5, 5]

In [99]:
# 모두 삭제되었는지 검증해봅시다.
while 5 in numbers:
    numbers.remove(5)

In [100]:
print(numbers)

[2]

### `.sort()`

정렬을 합니다. 

`sorted()`와는 다르게 원본 list를 변형시키고, None을 리턴합니다.

In [103]:
import random
lotto = random.sample(range(1, 46), 6)
print(lotto)
sorted(lotto)

[40, 25, 38, 7, 22, 41]

[7, 22, 25, 38, 40, 41]

In [109]:
# sort를 사용해봅시다.
# print(list(reversed(lotto)))
# print(lotto)
# print(lotto.reverse())

lotto.sort(reverse=True)
print(lotto)

[41, 40, 38, 25, 22, 7]

### `reverse()`

반대로 뒤집습니다. (정렬 아님)

In [184]:
classroom = ['Tom', 'David', 'Justin']
# print(classroom)
# print(sorted(classroom))
# classroom.sort(reverse=True)
# print(classroom)
classroom.reverse()
print(classroom)

['Justin', 'David', 'Tom']

## 복사

In [ ]:
# 리스트 복사를 해봅시다.
original_list = [1, 2, 3]

In [ ]:
# b의 값을 바꾸고 a를 출력해봅시다.

In [ ]:
# id 값을 확안해봅시다.

In [ ]:
# 숫자를 확인해봅시다.

In [ ]:
# 딕셔너리도 확인해봅시다.

### copy
> [pythontutor](http://pythontutor.com/visualize.html#code=lunch%20%3D%20%7B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%3A%20'%EC%B9%98%EC%A6%88%EB%9D%BC%EB%A9%B4',%20'%EA%B9%80%EA%B0%80%EB%84%A4'%3A%20'%EC%A0%9C%EC%9C%A1%EB%B3%B6%EC%9D%8C'%7D%0Aprint%28lunch%29%0Adinner%20%3D%20lunch%0Adinner%5B'%EA%B9%80%EB%B0%A5%EC%B2%9C%EA%B5%AD'%5D%20%3D%20'%EC%B0%B8%EC%B9%98%EA%B9%80%EB%B0%A5'%0Aprint%28lunch%29&cumulative=false&curInstr=0&heapPrimitives=nevernest&mode=display&origin=opt-frontend.js&py=3&rawInputLstJSON=%5B%5D&textReferences=false)를 활용하여 자세하게 알아봅시다.

* 파이썬에서 모든 변수는 객체의 주소를 가지고 있을 뿐입니다. 

```
num = [1, 2, 3]
```

* 위와 같이 변수를 생성하면 hong이라는 객체를 생성하고, 변수에는 객체의 주소가 저장됩니다.

* 변경가능한(mutable) 자료형과 변경불가능한(immutable) 자료형은 서로 다르게 동작합니다.

따라서, 복사를 하고 싶을 때에는 다음과 같이 해야한다.

In [117]:
# 리스트를 복사해봅시다.
num = [1,2,3]

num2 = num

num2[0] = 0

print(num)

num3 = num[:]

print(num3)

num2[0] = 1

print(num2)

print(num)

[0, 2, 3]
[0, 2, 3]
[1, 2, 3]
[1, 2, 3]

In [118]:
# 다른 방법으로 복사해봅시다.
a = [1,2,3]
b = list(a)
print(b)

[1, 2, 3]

* 하지만, 이렇게 하는 것도 일부 상황에만 서로 다른 **얕은 복사(shallow copy)**입니다.

In [122]:
# 2차원 배열을 복사해봅시다.
matrix = [
    [1,2,3],
    [4,5,6],
]
matrix2 = matrix[:]

matrix2[0][0] = 0
matrix

[[0, 2, 3], [4, 5, 6]]

* 만일 중첩된 상황에서 복사를 하고 싶다면, 깊은 복사(deep copy)를 해야합니다. 

* 즉, 내부에 있는 모든 객체까지 새롭게 값이 변경됩니다.

In [130]:
# 깊은 복사를 사용해봅시다.
import copy

# matrix3 = copy.deepcopy(matrix)

student = {
    'name':'juan',
    'job':'instructor',
    'company' : {
        'name':'hphk',
        'address':'gangnam'
    }
}
student2 = student

student3 = copy.deepcopy(student)

In [ ]:
arr = [1,2,3]
arr2 = [4,5,6]
num = (arr, arr2)
for i in num:
    i[0] = 2

## `.clear()`

리스트의 모든 항목을 삭제합니다.

In [132]:
# clear를 사용해봅시다.
numbers = list(range(30))
print(numbers)
numbers.clear()
print(numbers)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29]
[]

# List Comprehension

List를 만들 수 있는 간단한 방법이 있습니다.

### 세제곱리스트

> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자로 만든 세제곱 담긴 리스트 `cubic_list`

In [134]:
numbers = range(1, 11)

In [135]:
# 기존의방법
result = []
for num in numbers:
    result.append(num ** 3)
print(result)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

In [138]:
# List Comprehension
cubic_list = [num ** 3 for num in numbers]
print(cubic_list)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000]

### 짝수리스트
> 다음의 리스트를 만들어보세요. 

- 1~10까지의 숫자중 짝수만 담긴 리스트 `even_list`
- 여러개의 `for` 혹은 `if`문을 중첩적으로 사용 가능합니다.

In [143]:
numbers = list(range(1, 11))
print(numbers)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [146]:
# 기존의방법
even_list = []
for num in numbers:
    if num % 2 == 0:
        even_list.append(num)
print(even_list)

[2, 4, 6, 8, 10]

In [147]:
# List Comprehension
even_list = [num for num in numbers if num % 2 == 0]
print(even_list)

[2, 4, 6, 8, 10]

### 곱집합

> 주어진 두 list의 가능한 모든 조합을 담은 `pair` 리스트를 만들어주세요.

1. 반복문 활용
2. list comprehension 활용

---

```
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

예시 출력)
    
[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]
```

In [149]:
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [185]:
# 반복문을 활용하여 만들어주세요.
couple = []
for i in boys:
    for j in girls:
        couple.append((i,j))        
print(couple)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

In [154]:
# List comprehension을 활용하여 만들어주세요.
couple = [(b,g) for b in boys for g in girls]
print(couple)

[('justin', 'jane'), ('justin', 'iu'), ('justin', 'mary'), ('david', 'jane'), ('david', 'iu'), ('david', 'mary'), ('kim', 'jane'), ('kim', 'iu'), ('kim', 'mary')]

### 피타고라스 정리

> 주어진 조건(x < y < z < 50) 내에서 피타고라스 방정식의 해를 찾아보세요.

1. 반복문 활용

2. list comprehension 활용

```
예시 출력)
[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]
```

In [186]:
# 반복문을 활용하여 만들어주세요.
pitaf = []
for x in range(1,50):
    for y in range(1,50):
        for z in range(1,50):
            if z**2==x**2+y**2 and x<y<z:
                pitaf.append((x,y,z))
print(pitaf)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

In [157]:
# List comprehension을 활용하여 만들어주세요.
pita = [(x,y,z) for x in range(1,50) for y in range(1,50) for z in range(1,50) if z**2==x**2+y**2 and x<y<z]
print(pita)

[(3, 4, 5), (5, 12, 13), (6, 8, 10), (7, 24, 25), (8, 15, 17), (9, 12, 15), (9, 40, 41), (10, 24, 26), (12, 16, 20), (12, 35, 37), (15, 20, 25), (15, 36, 39), (16, 30, 34), (18, 24, 30), (20, 21, 29), (21, 28, 35), (24, 32, 40), (27, 36, 45)]

### 모음 제거하기

> 다음의 문장에서 모음(a, e, i, o, u)를 모두 제거하시오.

1. list comprehension만 사용해보세요.

``` 
    words = 'Life is too short, you need python!'

    예시출력)
    Lf s t shrt, y nd pythn!
```

In [187]:
# List comprehension을 활용하여 만들어주세요.
words = 'Life is too short, you need python!'
result = [w for w in words if w not in vow == 'aeiou']
word = ''.join(result)
# word = ''.join([w for w in words if w not in vow == 'aeiou'])
print(word)

Lf s t shrt, y nd pythn!

# 딕셔너리 메소드 활용

## 추가 및 삭제

### `.pop(key[, default])`

key가 딕셔너리에 있으면 제거하고 그 값을 돌려줍니다. 그렇지 않으면 default를 반환합니다.

default가 없는 상태에서 딕셔너리에 없으면 KeyError가 발생합니다.

In [211]:
# pop을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나'}

In [212]:
# 딕셔너리에 없으면 에러가 발생합니다
my_dict.pop('apple')
print(my_dict)
# my_dict.pop('apple') again -> error

{'banana': '바나나'}

In [213]:
# 두번째 인자로 default를 설정할 수 있습니다
my_dict.pop('apple', 'no key')

'no key'

### `.update()`

값을 제공하는 key, value로 덮어씁니다.

In [219]:
# update를 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}

change_dict={'apple':'사과아아', 'banana':'바나나아아아', 'melon':'멜로오오온'}

my_dict.update(change_dict)
# my_dict.update(apple='사고아아아아', banana='바나나나나나', melon='멜로오온')
print(my_dict)
my_dict['apple'] = '사과예요'
print(my_dict)

{'apple': '사과아아', 'banana': '바나나아아아', 'melon': '멜로오오온'}
{'apple': '사과예요', 'banana': '바나나아아아', 'melon': '멜로오오온'}

### `.get(key[, default])`

key를 통해 value를 가져옵니다. 

절대로 KeyError가 발생하지 않습니다. default는 기본적으로 None입니다.

In [224]:
# get을 사용해봅시다.
my_dict = {'apple': '사과', 'banana': '바나나', 'melon': '멜론'}
my_dict.get('orange')
my_dict['pineapple']

KeyError: 'pineapple'

## dictionary comprehension

dictionary도 comprehension을 활용하여 만들 수 있습니다.

In [226]:
# dictionary comprehension
cubic_dict={x: x**3 for x in range(1,11)}
print(cubic_dict)

{1: 1, 2: 8, 3: 27, 4: 64, 5: 125, 6: 216, 7: 343, 8: 512, 9: 729, 10: 1000}

### dictionary comprehension 사용해보기

In [228]:
dusts = {'서울': 72, '대전': 82, '구미': 29, '광주': 45, '중국': 200}

In [267]:
# 미세먼지 농도가 80 초과 지역만 뽑아 봅시다.
# 예) {'대전': 82, '중국': 200}
dust_dict={key:value for key,value in dusts.items() if value > 80}
print(dust_dict)

# def heavy_dust():
#     dust = []
#     for k, v in dusts.items():        
#         if v > 80:
#             dust.append((k,v))
#     return dust
# print(heavy_dust())

{'대전': 82, '중국': 200}

In [270]:
# 미세먼지 농도가 80초과는 나쁨 80이하는 보통으로 하는 value를 가지도록 바꿔봅시다.
dust_dict2 = {key:'나쁨' if value > 80 else '보통' for key,value in dusts.items()}
print(dust_dict2)

{'서울': '보통', '대전': '나쁨', '구미': '보통', '광주': '보통', '중국': '나쁨'}

In [277]:
# elif 도 사용할 수 있습니다.
dust_dict3 = {key:'매우나쁨' if value > 150 else '나쁨' if value > 80 else '보통' if value > 30 else '좋음' for key, value in dusts.items()}
print(dust_dict3)

{'서울': '보통', '대전': '나쁨', '구미': '좋음', '광주': '보통', '중국': '매우나쁨'}

# 세트 메소드 활용

## 추가 및 삭제

### `.add(elem)`
elem을 세트에 추가합니다.

In [278]:
# add를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.add('천도복숭아')
print(fruits)

{'바나나', '수박', '천도복숭아', '사과'}

### `update(*others)`

여러가지의 값을 추가합니다.

여기서 반드시 **iterable한 값**(for문이 사용가능한 값)을 넣어야합니다.

In [284]:
# update를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.update(['천도복숭아','자두'])
print(fruits)

{'수박', '천도복숭아', '자두', '바나나', '사과'}

### `.remove(elem)`

elem을 세트에서 삭제하고, 없으면 KeyError가 발생합니다.

In [285]:
# remove를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.remove('사과')
print(fruits)
fruits.remove('사과')
print(fruits)

{'바나나', '수박'}

KeyError: '사과'

### `discard(elem)`
x를 세트에서 삭제하고 없어도 에러가 발생하지 않습니다.

In [286]:
# discard를 사용해봅시다.
fruits = {"사과", "바나나", "수박"}
fruits.discard('사과')
print(fruits)
fruits.discard('사과')
print(fruits)

{'바나나', '수박'}
{'바나나', '수박'}

### `pop()`

임의의 원소를 제거해 반환합니다.

In [291]:
# pop을 사용해봅시다.
a = {"사과", "바나나", "수박", "아보카도"}
a.pop()
a.pop()
a.pop()
a.pop()
print(a)

set()

##  `map()`, `zip()`, `filter()`

### `map(function, iterable)`

* Iterable의 모든 원소에 function을 적용한 후 그 결과를 돌려줍니다. 

* 대표적으로 iterable한 타입 - list, dict, set, str, bytes, tuple, range

* return은 map_object 형태로 됩니다.

In [307]:
numbers = [1, 2, 3]
# 위의 코드를 문자열 '123'으로 만들어봅시다.

cubic_numbers = [x**3 for x in numbers]
cubic_dict = {x: x**3 for x in numbers}
str_numbers = [str(x) for x in numbers]

print(cubic_numbers)
print(cubic_dict)
print(str_numbers)

list(map(str, numbers))

def my_cube(x):
    return x ** 3

list(map(my_cube, numbers))

# 1. 적용하고자 하는 함수(명)
# 2. 적용할 Iterable(List, Dictionary, Set, Range, String)

[1, 8, 27]
{1: 1, 2: 8, 3: 27}
['1', '2', '3']

[1, 8, 27]

In [ ]:
# list comprehension

In [1]:
chars = ['1', '2', '3']
# 위의 코드를 [1, 2, 3]으로 만들어봅시다.

number_pair = [(5,5),(10,10),(100,100)]

# def add_pair(a,b):
#     return a+b

# list(map(add_pair, number_pair))

list(map(int,chars))

[1, 2, 3]

In [ ]:
# list comprehension

* function은 사용자 정의 함수도 가능합니다.

In [ ]:
# 세제곱의 결과를 나타내는 함수
def cube(n):
    return n**3

### `zip(*iterables)` 

* 복수 iterable한 것들을 모아준다.

* 결과는 튜플의 모음으로 구성된 zip object를 반환한다.

In [ ]:
# 예시를 봅시다.
girls = ['jane', 'iu', 'mary']
boys = ['justin', 'david', 'kim']

In [316]:
# for문으로 한 명씩 순서대로 매칭시켜봅시다.
# 예) {'jane': 'justin', 'iu': 'david', 'mary': 'kim'}
list(zip(girls, boys))

[('jane', 'justin'), ('iu', 'david'), ('mary', 'kim')]

* 아래와 같이 사용가능하다.

In [317]:
a = '123'
b = '567'

for digit_a, digit_b in zip(a, b):
    print(digit_a, digit_b)

1 5
2 6
3 7

* zip은 반드시 길이가 같을 때 사용해야한다. 가장 짧은 것을 기준으로 구성한다.

In [ ]:
num1 = [1, 2, 3]
num2 = ['1', '2']
list(zip(num1, num2))

* 길이가 긴 것을 맞춰서 할 수도 있지만, 사용할 일이 없다.

In [ ]:
from itertools import zip_longest
list(zip_longest(num1, num2, fillvalue=0))

### `filter(function, iterable)`

* iterable에서 function의 반환된 결과가 참인 것들만 구성하여 반환한다.

In [ ]:
# 짝수인지 판단하는 함수를 작성해봅시다.

In [ ]:
def even(n):
    return not n%2

In [310]:
# 다음의 list comprehension과 동일하다.

In [315]:
numbers = list(range(1,31))
evens = []
for num in numbers:
    if not num % 2:
        evens.append(num)

evens = [num for num in numbers if not num % 2]

def evens(n):
    return not n%2
    
# filter ver.
list(filter(evens, numbers))

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30]

In [207]:
import requests

url = 'http://composingprograms.com/shakespeare.txt'

res = requests.get(url)

novel = res.text

words = novel.split(' ')

print(len({word for word in words if len(word) > 6}))

print({word for word in words if len(word) == 5 and word == word[::-1]})

# print(len(set(words)))

27201
{'madam', 'level', 'refer', 'minim', 'rever'}

# 최대공약수, 최소공배수 구하기

> 두 수를 입력받아 두 수의 최대공약수와 최소공배수를 반환하는 함수 `gcdlcm`을 작성하세요.
>
> 배열의 맨 앞에 최대공약수, 그 다음 최소공배수를 넣어 반환하세요. 
>
> 예를 들어 두 수 3, 12의 최대공약수는 3, 최소공배수는 12이므로 `gcdlcm(3, 12)`는 `(3, 12)`를 반환해야 합니다. 

---

예시)

```python
print(gcdlcm(3, 12)) #=> (3, 12)
print(gcdlcm(1071, 1029)) #=> (21, 52479)
```

In [10]:
def gcdlcm(a, b):
    set_1 = set()
    set_2 = set()
    
    for i in range(2, a+1):
        if a % i == 0:
            set_1.add(i)
    for j in range(2, b+1):
        if b % j == 0:
            set_2.add(j)
    gcd = max(set_1 & set_2)
    print(gcd, int(a*b/gcd))
gcdlcm(1071, 1029)

21 52479

In [12]:
def gcdlcm2(a, b):
    n, m = max(a,b), min(a,b)
    while m > 0:
        n, m = m, n%m
    return n, int(a*b/n)
gcdlcm2(1071, 1029)

(21, 52479)

In [17]:
dup = set()
def duplicated(chars):
    for char in chars:
        if chars.count(char) > 1:
            dup.add(char)
    return list(dup)
duplicated(['a', 'b', 'c', 'b', 'd', 'm', 'n', 'n', 'b'])

['n', 'b']

# 알파벳만 남기고 뒤집기

> 문자열이 주어지면, 해당 문자열 중에서 알파벳이 아닌 문자는 전부 빼고 거꾸로 뒤집어 반환하는 함수를 작성하세요.

---

예시)

```python
reverse_letter('krishan')
'nahsirk'

reverse_letter('ultr53o?n')
'nortlu'
```

In [31]:
ans = []
def reverse_letter(chars):
    for char in chars:
        if char.isalpha():
            ans.append(char)
        else:
            continue
    return ''.join(ans[::-1])
reverse_letter('krishan')
# reverse_letter('ultr53o?n')

'nahsirk'

# 편-안한 단어

> (QWERTY 키보드를 사용하여 타이핑 한다고 가정할 때) '편안한 단어'는 타이핑 할 때 **손을 번갈아 칠 수 있는 단어**를 말합니다.
>
> 단어를 인자로 받아 그것이 '편안한 단어'인지 여부를 True/False로 반환하는 함수를 작성하세요.
* 모든 단어는 a ~ z까지 오름차순으로 구성된 문자열입니다.

> 문자 목록
- 왼손: q, w, e, r, t, a, s, s, d, f, g, z, x, c, v, b
- 오른손: y, u, i, o, p, h, j, k, l, n, m

In [44]:
def comfort(words):
    left, right = 'qwertasdfgzxcvb', 'yuiophjklnm'
    for i in range(len(words)):
        if words[0] in left:
            if i%2 and words[i] in right:
                if not i%2 and words[i] in left:
                    return True
                return False
        else:
            if i%2 and words[i] in left:
                if not i%2 and words[i] in right:
                    return True
                return False

In [45]:
# comfort('apple')
comfort('qywu')

False

In [6]:
def pattern(num):
    for i in range(num+1):
        if i%2:
            print(f'{i}'*i)
pattern(6)

1
333
55555

In [13]:
def pick_and_sum(words):
    result = 0
    num = ''
    for char in words:
        if char.isnumeric():
            num += char
        elif num:
            result += int(num)
            num = ''
    return result
pick_and_sum('The30quick20brown10f0x1203jumps914ov3r1349the102l4zy dog')

3635

In [15]:
def up_and_low(words):
    result = ''
    for idx, char in enumerate(words):
        if idx%2:
            result += char.upper()
        else:
            result += char.lower()
    return result
print(up_and_low('applepie'))

aPpLePiE

In [43]:
def passpass(exam):
    passexam = []
#     return sorted(exam.items(), key=lambda exam: exam[1], reverse=True)
    for i in sorted(exam.items(), key=lambda exam: exam[1], reverse=True):
        if i[1] > 60:
            passexam.append(i[0])
    return passexam
passpass({'Java': 10, 'Ruby': 80, 'Python': 65, 'Vue': 62})

['Ruby', 'Python', 'Vue']

In [44]:
def passpass(exam):
    good = []
    for key, value in exam.items():
        if value > 60:
            good.append(key)
    return sorted(good, reverse=True)
passpass({'Java': 10, 'Ruby': 80, 'Python': 65, 'Vue': 62})

['Vue', 'Ruby', 'Python']

In [48]:
def is_triangle(num):
    check = 0
    add_num = 1
    while check < num:
        check += add_num
        add_num += 1
    if check == num:
        return True
    else:
        return False
is_triangle(57)

False

In [58]:
def create_dict(keys, values):
    my_dict = {}
    if len(keys) > len(values):
        for i in range(len(values)):
            my_dict[keys[i]] = values[i]
        for j in range(len(keys)-len(values)):
            my_dict[keys[len(values)+j]] = None
    else:
        my_dict = dict(zip(keys, values))
    return my_dict
create_dict(['a', 'b', 'c', 'd'], [1, 2, 3])
create_dict(['a', 'b', 'c'], [1, 2, 3, 4])

{'a': 1, 'b': 2, 'c': 3}

In [68]:
def dict_invert(pair):
    inverse = {}
    for key, value in pair.items():
        if value in inverse:
            inverse[value].append(key)
        else:
            inverse[value] = [key]
    return inverse
print(dict_invert({1: 10, 2: 20, 3: 30}))
print(dict_invert({1: 10, 2: 20, 3: 30, 4: 30}))
print(dict_invert({1: True, 2: True, 3: True}))

{10: [1], 20: [2], 30: [3]}
{10: [1], 20: [2], 30: [3, 4]}
{True: [1, 2, 3]}

In [73]:
def check_score(a, b):
    score = 0
    for i in range(len(a)):
        if a[i] == b[i]:
            score += 4
        elif b[i] == '':
            continue
        else:
            score -= 1
    if score < 0:
        score = 0
    return score
print(check_score(['a', 'a', 'b', 'b'], ['a', 'c', 'b', 'd']))
print(check_score(['a', 'a', 'c', 'b'], ['a', 'a', 'b', '']))
print(check_score(['a', 'a', 'b', 'c'], ['a', 'a', 'b', 'c']))
print(check_score(['b', 'c', 'b', 'a'], ['', 'a', 'a', 'c']))

6
7
16
0

In [3]:
def snail(height, day, night):
    count = height // (day - night)
    if height % (day-night) > night:
        count += 1
    return count
print(snail(100, 5, 2))

33

In [5]:
def my_join(target, word):
    result = ''
    for i in target:
        result += (i + word)
    return result[:-1]
print(my_join('배고파', '.'))

배.고.파

In [17]:
def unused_digits(*args):
    total = list(map(str, range(10)))
    for i in str(args):
        if i in total:
            total.remove(i)
    return ''.join(total)
unused_digits(12, 34, 56, 78)
unused_digits(2015,8,26)

'3479'

> n개의 양의 정수 리스트가 주어지면, 홀수와 짝수를 분리하고 각각의 조건에 맞게 홀수와 짝수를 
정렬하는 함수를 작성하세요.

> **조건**
1. 짝수와 홀수가 번갈아 가면서 나오게 됩니다.
2. 짝수가 먼저 시작됩니다.
3. 짝수는 오름차순으로 홀수는 내림차순으로 되어야합니다.

> **실습 입력 인자 조건**
1. 인자 리스트의 크기는 적어도 4이상입니다.
2. 인자 리스트의 요소값으로 0은 존재하지 않습니다.
3. 인자 리스트의 요소값이 반복될 수 있으나 출력할 때는 중복 값이 없습니다.

---

예시)

```python
print(even_and_odd([7, 3 , 14 , 17]))
# => [14, 17, 7, 3]

print(even_and_odd([1, 3, 5, 7, 9, 11]))
# => [11, 9, 7, 5, 3, 1]

print(even_and_odd([1, 2, 2, 4, 4, 6, 6, 2004, 9, 11]))
# => [2, 11, 4, 9, 6, 1, 2004]
```

In [38]:
def even_and_odd(nums):
    even = []
    odd = []
    re = []
    for i in set(nums):
        if i % 2:
            odd.append(i)
        else:
            even.append(i)
    for j in range(min(len(even),len(odd))*2):
        if j % 2 == 0:
            re.append(sorted(even).pop(j//2))
        else:
            re.append(sorted(odd, reverse=True).pop(j//2))
    if len(even) > len(odd):
        re += sorted(even)[len(odd):]
    else:
        re += sorted(odd, reverse=True)[len(even):]
    return re
    
even_and_odd([7,3,14,17])
even_and_odd([1,3,5,7,9,11])
even_and_odd([1,2,2,4,4,6,6,2004,9,11])

[14, 17, 7, 3]

In [55]:
def calc(equation):
    result = 0
    if equation[0].isnumeric():
        num = ''
        for i in equation:
            if i.isdecimal():
                num += i
            else:
                result += int(num)
                num = ''
                num += i
    else:
        num = equation[0]
        for j in equation[1:]:
            if j.isdecimal():
                num += j
            else:
                result += int(num)
                num = ''
                num += j
    return result + int(num)
calc('123+2-124')
calc('-12+12-7979+9191')
# calc('+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1+1-1')

1212

In [60]:
def add(*args):
    result = 0
    for idx, value in enumerate(args, 1):
        result += idx * value
    return result
print(add(3, 4, 5, 6, 7))
print(add(2, 5, 5, 7, 7))

26
90

In [61]:
def repeats(s):
    ans = 0
    for i in s:
        if s.count(i) == 1:
            ans += i
    return ans
repeats([4, 4, 7, 8, 10])

25

In [69]:
def remove_rotten(fruit_bag):
    for i in range(len(fruit_bag)):
        if fruit_bag[i][:6] == 'rotten':
            fruit_bag[i] = fruit_bag[i][6:].lower()
    return fruit_bag

remove_rotten(['apple', 'rottenBanana', 'apple'] )
remove_rotten(['rottenapple', 'rottenBanana', 'apple', 'rottenGrape'])

['apple', 'banana', 'apple', 'grape']